/* Variables */
:root {
    --footer-primary-color: #ff6600;
    --footer-secondary-color: #00345E;
    --footer-background-color: #f7f9fc;
    --footer-accent-color: #026b60;
    --footer-highlight-color: #f0db4f;
    --footer-shadow-light: 0 4px 15px rgba(0, 0, 0, 0.1);
    --footer-shadow-dark: 0 4px 20px rgba(0, 0, 0, 0.25);
    --footer-container-background: #00345E;
}

/* Estilos generales del footer */
.custom-footer {
    background-color: var(--footer-container-background);
    padding: 20px 0;
    color: var(--footer-background-color);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    flex-basis: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.footer-section h4 {
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    font-weight: bold;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-bottom {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 30px;
}

/* Estilos específicos para detalles de contacto */
.contact-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-details li {
    margin: 8px 0;
}

/* Estilos específicos para redes sociales */
.footer-section.social {
    display: flex;
    flex-direction: column;
}

.footer-section.social h4 {
    margin-bottom: 15px;
}

.footer-section.social>div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social a {
    margin: 0 10px;
    font-size: 24px;
    color: var(--footer-background-color);
    transition: color 0.3s;
}

.social a:hover {
    color: var(--footer-primary-color);
}

/* Estilos para enlaces */
.footer-section ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    opacity: 0.8;
    color: var(--footer-primary-color);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}