/* ---------------------- Colores ---------------------- */
:root {
    --primary-color: #ff6600;
    /* Naranja */
    --secondary-color: #00345E;
    /* Azul oscuro */
    --background-color: #f7f9fc;
    /* Gris claro */
    --accent-color: #026b60;
    /* Verde azulado */
    --highlight-color: #f0db4f;
    /* Amarillo */
    --shadow-light: 0 4px 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 4px 20px rgba(0, 0, 0, 0.25);
    --container-background: #3c506a;
    /* Azul muy oscuro */
}

/* ---------------------- General ---------------------- */
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    transition: background-color 0.5s;
}

/* ---------------------- Container: Mision, Vision, Valores ---------------------- */
.container-mision-vision-valores {
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 45px;
    background: linear-gradient(140deg, var(--secondary-color) 0%, #2a3551 70%);
    border-radius: 20px;
    box-shadow: var(--shadow-dark);
}

.mvv-item {
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: var(--shadow-light);
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.mvv-item:hover h2,
.mvv-item:hover p,
.mvv-item:hover i {
    color: #FFFFFF;
}

.mvv-item:hover {
    transform: scale(1.05);
    background-color: var(--accent-color);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}


.mvv-item h2,
.mvv-item i {
    color: var(--accent-color);
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.mvv-item h2 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
}

.mvv-item i {
    font-size: 56px;
    margin-bottom: 25px;
    display: block;
    transition: color 0.3s ease-in-out;
}

.mvv-item:hover i {
    color: var(--background-color);
}

.mvv-item h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) scaleX(0.5);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.mvv-item:hover h2::after {
    transform: translateX(-50%) scaleX(1);
    background-color: #FFFFFF;
}

.mvv-paragraph {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s, opacity 0.5s;
    text-align: justify;
    margin-top: -5px;
    padding-bottom: 10px;
}

.mvv-item:hover .mvv-paragraph {
    max-height: 200px;
    opacity: 1;
}

/* ---------------------- Container: Servicios ---------------------- */
.container-servicios {
    max-width: 1200px;
    margin: 60px auto;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: var(--shadow-light);
    position: relative;
}

.container-servicios h1 {
    text-align: center;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 0;
    margin: 0 auto 40px auto;
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.2px;
    border-radius: 8px 8px 0 0;
}

.container-servicios ul {
    list-style-type: disc;
    padding-left: 40px;
    border-left: 3px solid var(--secondary-color);
    padding-left: 50px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.container-servicios li {
    margin-bottom: 15px;
    transition: padding-left 0.3s ease-in-out;
}

.container-servicios li:hover {
    padding-left: 10px;
}

.servicios-link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
}

.servicios-link:hover {
    color: var(--primary-color);
}

/* ---------------------- Responsiveness ---------------------- */

/* Mobile */
@media (max-width: 768px) {
    .container-mision-vision-valores {
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
    }

    .mvv-item h2,
    .mvv-item i,
    .mvv-item:hover {
        transform: none;
    }

    .mvv-item h2 {
        margin-top: 20px;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .mvv-item i {
        font-size: 40px;
    }

    .mvv-item h2 {
        font-size: 22px;
    }

    .container-servicios h1 {
        font-size: 26px;
    }
}

/* Desktop */
@media (min-width: 1025px) {

    .container-mision-vision-valores,
    .container-servicios {
        padding-left: 50px;
        padding-right: 50px;
    }
}