:root {
    --login-primary-color: #ff6600;
    --login-secondary-color: #00345E;
    --login-background-color: #f7f9fc;
    --login-accent-color: #026b60;
    --login-highlight-color: #c95d16;
    --login-shadow-light: 0 4px 15px rgba(0, 0, 0, 0.1);
    --login-shadow-dark: 0 4px 20px rgba(0, 0, 0, 0.25);
    --login-container-background: #3c506a;
}

.login-container {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--login-container-background);
    padding: 50px;
    border-radius: 15px;
    box-shadow: var(--login-shadow-dark);
}

.login-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-bottom: 30px;
}

.login-logo {
    width: 120px;
    height: auto;
}

.login-input-group {
    position: relative;
    margin: 25px 0;
    width: 100%;
}

.login-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--login-background-color);
    width: 20px;
    height: 20px;
}

.login-input[type="text"],
.login-input[type="password"] {
    width: 100%;
    padding: 17px 50px;
    border: 2px solid var(--login-secondary-color);
    border-radius: 20px;
    background-color: var(--login-background-color);
    color: var(--login-secondary-color);
    transition: border-color 0.3s;
}

.login-input[type="text"]:focus,
.login-input[type="password"]:focus {
    border-color: var(--login-accent-color);
}

.login-button {
    width: 100%;
    padding: 17px;
    background-color: var(--login-primary-color);
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: var(--login-shadow-light);
}

.login-button:hover {
    background-color: var(--login-highlight-color);
    transform: translateY(-2px);
}