body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.custom-navbar {
    background-color: #333;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    position: absolute;
    left: 20px;
}

.custom-navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-navbar-item {
    display: inline;
    margin-right: 20px;
}

.custom-navbar-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.custom-navbar-link:hover {
    background-color: #ff6600;
    color: #fff;
}

.custom-navbar-link.active {
    background-color: #ff6600;
    color: #fff;
}


@media (max-width: 768px) {
    .custom-navbar {
        flex-direction: column;
        height: auto;
    }

    .custom-navbar-item {
        display: block;
        margin: 10px 0;
    }

    .logo {
        position: static;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .custom-navbar-link {
        font-size: 16px;
        padding: 8px 16px;
    }
}