/* Estilos por defecto */
.navbar {
    background-color: #333;
}

.navbar-brand img {
    height: 80px;
    width: auto;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    text-align: center;
    color: #fff !important;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, margin-right 0.3s;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-nav .nav-link:hover {
    background-color: #ff6600;
    color: #fff;
    margin-right: 15px;
    border-radius: 10px;
}

/* Estilos ajustados para cuando el administrador inicia sesión */
.admin-loggedin .navbar-nav .nav-link {
    margin-right: 4px;
    padding: 3px 5px;
    font-size: 0.8rem;
}

.admin-loggedin .navbar-nav .nav-link:hover {
    margin-right: 6px;
}

/* Estilos cuando no hay sesión activa */
.no-session .navbar-nav .nav-link {
    font-size: 1.5rem;
    /* Aumentamos más el tamaño de la fuente */
    margin-right: 30px;
    /* Más separación entre los elementos */
    padding: 10px 20px;
    /* Un poco más de padding para que se vea bien con la fuente más grande */
}

.no-session .navbar-nav .nav-link:hover {
    margin-right: 33px;
    /* Más separación entre los elementos al pasar el mouse */
}