/* Estilos para la barra de navegación */
.navbar {
    background-color: #333;
}

.navbar-brand img {
    height: 80px;
    width: auto;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    text-align: center;
    color: #fff !important;
    font-weight: bold;
    /* Cambia el color del texto a blanco */
    transition: background-color 0.3s, color 0.3s, margin-right 0.3s;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar-toggler {
    border-color: #fff;
}

/* Estilo para los enlaces en estado hover */
.navbar-nav .nav-link:hover {
    background-color: #ff6600;
    color: #fff;
    margin-right: 15px;
    border-radius: 10px;
}